<div class="form-group">
  <label for="name">Name</label>
  <input type="name" class="form-control" id="name" placeholder="" value={{@edit.name}}>
</div>
<div class="form-group">
  <label for="email">Email address</label>
  <input type="email" class="form-control" id="email" placeholder="" value={{@edit.email}}>
</div>
{{yield}}