<!-- navbar -->
<nav class="navbar">
  <div class="container">
    <h1 class="logo"><a href="#">MDM app</a></h1>
    <ul class="nav nav-right">
      <li><a href="#">Dashboard</a></li>
      <li><LinkTo @route="employees">Employees</LinkTo></li>
    </ul>
  </div>
</nav>